<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ems</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>spaddServlet</display-name>
    <servlet-name>spaddServlet</servlet-name>
    <servlet-class>com.zr.ems.web.spaddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>spaddServlet</servlet-name>
    <url-pattern>/spaddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delServlet</display-name>
    <servlet-name>delServlet</servlet-name>
    <servlet-class>com.zr.ems.web.delServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delServlet</servlet-name>
    <url-pattern>/delServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gaiServlet</display-name>
    <servlet-name>gaiServlet</servlet-name>
    <servlet-class>com.zr.ems.web.gaiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gaiServlet</servlet-name>
    <url-pattern>/gaiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chaServlet</display-name>
    <servlet-name>chaServlet</servlet-name>
    <servlet-class>com.zr.ems.web.chaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chaServlet</servlet-name>
    <url-pattern>/chaServlet</url-pattern>
  </servlet-mapping>
</web-app>